mongodb/data/diagnostic.data/metrics.2022-05-24T08-47-39Z-00000
mongodb/data/diagnostic.data/metrics.interim
mongodb/data/journal/WiredTigerLog.0000000001
mongodb/data/journal/WiredTigerPreplog.0000000001
mongodb/data/journal/WiredTigerPreplog.0000000002
mongodb/data/mongod.lock
mongodb/data/storage.bson
mongodb/data/WiredTiger
mongodb/data/WiredTiger.lock
mongodb/data/WiredTiger.turtle
*.wt
