
mongodb/data/_mdb_catalog.wt
mongodb/data/collection-0-2414429732663914880.wt
mongodb/data/collection-2-2414429732663914880.wt
mongodb/data/collection-4-2414429732663914880.wt
mongodb/data/collection-7-2414429732663914880.wt
mongodb/data/diagnostic.data/metrics.2022-05-24T08-47-39Z-00000
mongodb/data/diagnostic.data/metrics.interim
mongodb/data/index-1-2414429732663914880.wt
mongodb/data/index-3-2414429732663914880.wt
mongodb/data/index-5-2414429732663914880.wt
mongodb/data/index-6-2414429732663914880.wt
mongodb/data/index-8-2414429732663914880.wt
mongodb/data/journal/WiredTigerLog.0000000001
mongodb/data/journal/WiredTigerPreplog.0000000001
mongodb/data/journal/WiredTigerPreplog.0000000002
mongodb/data/mongod.lock
mongodb/data/sizeStorer.wt
mongodb/data/storage.bson
mongodb/data/WiredTiger
mongodb/data/WiredTiger.lock
mongodb/data/WiredTiger.turtle
mongodb/data/WiredTiger.wt
mongodb/data/WiredTigerHS.wt
